.flexDiv {
    height: 10vh;
    max-height: 70px;
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconDiv {
    width: 20vw;
    text-align: center;
}

.icon {
    min-width: 24px;
    width: 6vw;
    max-width: 28px;
}

img,
Link {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
